/* Gerais | Styles */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--white-pink-color);
}

::-webkit-scrollbar-thumb {
    background: var(--pink-two-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--pink-color);
}

/* Classes | Sections */
.main-bg {
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-position: 100%;
    margin-top: 6.5rem;
    color: var(--white-color);
}

.white-bg {
    background-color: var(--white-color);
    color: var(--pink-color);
}

.black-bg {
    background-color: rgba(0, 0, 0, 0.945);
    color: var(--pink-color);
}

.dark-bg {
    background-color: rgb(22, 21, 21);
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 10rem var(--spacings-medium);
}

.section {
    min-height: 100vh;
}

/* Home */
.home-content {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacings-medium);
    min-height: 100vh;
}

.home-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.home-img img {
    max-width: 30%;
    height: auto;
}

.movie-date-img {
    width: 15%;
    padding-top: var(--spacings-small);
}

.social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.social a {
    display: inline;
    margin: 0 7px;
    font-size: var(--font-normal);
}

/* Videos */
.videos-content {
    max-width: 64rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.heading-videos {
    margin-bottom: 2rem;
}

.video-holder {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    background: #000;
    overflow: hidden;
    margin-bottom: 10vh
}

.last-video {
    margin-bottom: 0;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #3e0229;
}

/* Synopsis */
.synopsis-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.synopsis-text-content>img {
    margin-bottom: var(--spacings-xlarge);
}

.synopsis-text-content>p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    letter-spacing: 0.2rem;
}

/* Gallery */
.gallery-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.heading-gallery {
    margin-bottom: 5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--spacings-medium);
}

.gallery-img {
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}

.gallery-img img {
    width: 100%;
    transition: all 300ms ease-in-out;
}

.gallery-img img:hover {
    transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}

/* Footer */
.footer {
    font-size: 1.6rem;
    background-color: var(--white-color);
}

.footer a {
    color: var(--pink-two-color);
}

.heart {
    color: red;
}

.footer p {
    margin: 0;
    padding: 3rem;
    text-align: center;
}

/* Back to top */
.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--pink-color);
    background: var(--white-pink-color);
    border: 0.1rem solid var(--pink-color);
    transform: rotate(-90deg);
    font-size: 3rem;
}

.back-to-top:hover {
    color: var(--white-pink-color);
    background: var(--pink-color);
    border: 0.1rem solid var(--white-pink-color);
}

/* Elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: var(--font-normal);
    font-family: var(--font-family-monospace);
    color: var(--white-color);
    line-height: 1.5;
}

h2 {
    font-size: var(--font-large);
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

p {
    text-align: justify;
}

/* Menu */
.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu h1 {
    font-size: var(--font-normal);
    color: var(--pink-color);
}

.menu h1 a {
    color: inherit;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
    display: block;
    padding: 2rem;
    font-size: var(--font-small);
    color: var(--pink-color);
    position: relative;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background-color: var(--blue-color);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}

/* Variables */
:root {
    --primary-color: #0a1128;
    --white-color: #ffffff;
    --dark-gray-color: #2e3038;
    --pink-color: #F31EA8;
    --pink-two-color: #e83e8c;
    --pink-three-color: #ee0873;
    --white-pink-color: #F6E1E4;
    --blue-color: #0EB4FF;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;

    --container-width: 120rem;
    --container-width-small: 80rem;
    --container-images: 36rem;

    --spacings-xsmall: 1rem;
    --spacings-small: 2rem;
    --spacings-medium: 3rem;
    --spacings-large: 5rem;
    --spacings-xlarge: 8rem;
    --spacings-xxlarge: 11rem;

    --font-bold: 700;
    --font-xxlarge: 10rem;
    --font-xlarge: 8rem;
    --font-large: 6rem;
    --font-medium: 4rem;
    --font-normal: 2.3rem;
    --font-small: 1.8rem;
    --font-xsmall: 1.6rem;
    --font-xxsmall: 1.4rem;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/* Close menu */
.close-menu {
    display: none;
}

/* Media Queries */
@media (max-width: 1024px) {

    /* Menu mobile */
    .menu {
        bottom: 0;
        text-align: center;
    }

    .menu-content,
    .menu-content ul {
        flex-direction: column;
        justify-content: center;
    }

    .menu-content {
        height: 100vh;
    }

    .menu {
        display: none;
    }

    .menu h1 {
        font-size: var(--font-medium);
    }

    .menu ul li a {
        font-size: var(--font-normal);
    }

    .close-menu-label::after {
        content: '☰';
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 2rem;
        background-color: var(--pink-color);
        color: var(--white-color);
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
    }

    .close-menu:checked~.menu {
        display: block;
    }

    .close-menu:checked~.close-menu-label::after {
        content: '×';
    }

    /* Home */
    .main-bg {
        background-image: url('../img/bg_portrait.jpg');
        background-position: center center;
        margin-top: 0;
    }

    .synopsis-text-content>img {
        width: 80%;
    }

    .synopsis-text-content>p, p {
        font-size: var(--font-small);
    }

    .home-content {
        display: none;
    }
}

@media (min-width: 800px) and (max-width: 1024px) {
    /* Gallery */
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .gallery-img {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    .gallery-img img {
        width: 100%;
    }
}

@media (max-width: 799px) {
    /* Gallery */
    .grid {
        grid-template-columns: 1fr;
    }

    .gallery-img {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    .gallery-img img {
        width: 100%;
    }
}